//标题文字颜色
$cloTxtA : #525558;
//普通文字颜色
$cloTxtB : #848688;
//浅色文字颜色
$cloTxtC : #b9c1c8;

//蓝色按钮背景颜色、蓝色文字颜色
$cloBgA : #1697e3;
//灰色按钮背景颜色
$cloBgB : #f7f8fa;

//蓝色按钮边框颜色
$cloBorA : #1186c9;
//灰色按钮边框颜色
$cloBorB : #d9dce0;

$bgBaseUrl : "../../bg/" !default;