$bgBaseUrl : "../bg/";

@import "variate";
@import "mixin";
@import "blo_reset";

@import "../module/header/blo_header";

@import "../module/drop/blo_dropA";
@import "keyframes";

@import "../module/btn/btnA";
@import "../module/btn/btnB";

@import "../module/pic/blo_picA";
@import "../module/pic/blo_picB";
@import "../module/pic/blo_picC";

@import "../module/tab/blo_tabA";


.listPicB{position: relative; z-index: 10;}
@include bp(0,700px) {
	.listPicB{
		margin-top: -42px;
	}
}
@include bp(701px,infinity) {
	.listPicB{
		margin-top: -52px;
	}
}


.listTxtA{text-align: center;}
.listTxtA_1{margin-top: 18px; line-height: 38px; font-size: 22px; color: $cloTxtA;}
.listTxtA_2{line-height: 28px; color: $cloTxtB;}
.listTxtA_3{width: 470px; margin: 5px auto 0;  color: $cloTxtC;}
.listTxtA_3_top{float: right;}
.listTxtA_3_bot{float: left;}
@include bp(0,470px) {
	.listTxtA_3{width: auto;}
	.listTxtA_3_top{display: block; float: none;}
	.listTxtA_3_bot{display: block; float: none;}
}


.listTab{
	margin-top: 48px;
	.bTabA_con{padding: 20px 0; background: #f7f8fa;}
}
.listNull{
	width: 90%; margin: 0 auto; text-align: center;
	img{width: 100%; max-width: 670px; margin: 10% 0;}
}


.listPjaxBox{
	width: 100%; height: 100%; margin: 0 auto; padding: 20px 0; position: fixed; z-index: 199; top: 0; left: 0; background: rgba(0, 0, 0, 0.6); overflow-y: scroll; display: none; @include prePro(box-sizing,border-box);
}
.listPjax{
	width: 920px; padding: 40px; border-radius: 6px; margin: 0 auto; overflow: hidden; background: #f4f4f4;  @include prePro(box-sizing,border-box);
	p{margin: 10px 0; line-height: 26px;}
	img{display: block; width: 100%;}
}
.listPjax_close{display: block; width: 60px; height: 60px; position: absolute; z-index: 200; top: 0; right: 0; background: url(../bg/icon_x_white.png) center center no-repeat; background-size: 20px;}
@include bp(0,1000px) {
	.listPjaxBox{padding: 0;}
	.listPjax{width: 100%; border-radius: 0;}
	.listPjax_close{background: url(../bg/icon_x_black.png) center center no-repeat; background-size: 20px;}
}






