/** blo-picB **/
.bPicB{
	border: 2px solid #fff; border-radius: 100%; margin: 0 auto; overflow: hidden; background: #fff; @include prePro(box-sizing,border-box);
}

@include bp(0,700px) {
	.bPicB{
		width: 84px; height:84px;
		img{width: 80px; height:80px;}
	}
}

@include bp(701px,infinity) {
	.bPicB{
		width: 104px; height:104px;
		img{width: 100px; height:100px;}
	}
}